<% url = spree.root_path %>
<div id="preloader">
  <div class="preloader-area">
    <div class="preloader-box">
      <div class="preloader"></div>
    </div>
  </div>
</div>
<section class="header-top-section">
  <div class="container">
    <div class="row">
      <div  class="col-md-6">
        <div class="header-top-content">
          <ul class="nav nav-pills navbar-left">
            <li><a href="#"><i class="pe-7s-call"></i><span>888-980-6951</span></a></li>
            <li><a href="#"><i class="pe-7s-mail"></i><span> info@mart.com</span></a></li>
          </ul>
        </div>
      </div>
      <div  class="col-md-6">
        <div class="header-top-menu">
          <ul class="nav nav-pills navbar-right">
            <%= render partial: 'spree/shared/login_bar' %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="spree-header">
  <header id="header" data-hook>
    <div class="container">
      <div class="row">
        <figure id="logo" class="col-md-4 col-sm-3" data-hook>
          <%= link_to url, itemprop: "url" do %>
              <%= image_tag 'dishcount-logo.png' %>
          <% end %>
        </figure>
        <%= render partial: 'spree/shared/nav_bar' %>
      </div>
    </div>
  </header>
  <div class="container">
    <%= render partial: 'spree/shared/main_nav_bar' %>
  </div>
</div>
