<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li id="category-link" data-hook><%= link_to Spree.t(:CATEGORIES), '/t/categories' %></li>
      <li id="brand-link" data-hook><%= link_to Spree.t(:brands), '/products' %></li>
      <li id="about-link" data-hook><%= link_to Spree.t(:about), '/about/index' %></li>
      <li id="whylto-link" data-hook><%= link_to Spree.t(:whylto), '/whylto/index' %></li>
      <li id="service-link" data-hook><%= link_to Spree.t(:service), '/service/index' %></li>
    </ul>

  </div>
</nav>
