<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>
      <li id="category-link" data-hook><%= link_to Spree.t(:CATEGORIES), '/t/categories' %></li>
      <li id="brand-link" data-hook><%= link_to Spree.t(:brands), '/products' %></li>
      <li id="apply-link" data-hook><%= link_to Spree.t(:apply), spree.root_path %></li>
      <li id="about-link" data-hook><%= link_to Spree.t(:about), spree.root_path %></li>
      <li id="whylto-link" data-hook><%= link_to Spree.t(:whylto), spree.root_path %></li>
      <li id="service-link" data-hook><%= link_to Spree.t(:service), spree.root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to_cart %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>
